

span{
    color: rgb(0, 5, 139);
}
p{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
}
joao{
    color:blue
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap')

