h1{
    color:darkred;
    background-color: cornsilk;
    text-align: center;

}
span{
    color: darkred;
}
p{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
}
joao{
    color:blue
}